* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 100%);
}

.desktop {
  background-image: url(./bg-intro-desktop.png);
  background-color: hsl(1, 82%, 70%);
  background-image: linear-gradient(hsl(1, 82%, 70%) hsl(1, 98%, 73%));
}

main {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100vh;
  gap: 25px;
}

.box-1 {
  width: 100%;
}

.box-2 {
  width: 100%;
}

h2 {
  color: hsl(0, 0%, 100%);
  background-color: transparent;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 20px 0px 20px;
}

p {
  font-family: "Poppins", sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 400;
}

.error {
  color: hsl(0, 100%, 74%);
  font-size: 12px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: right;
  padding: 3px;
  margin: 0px;
  font-style: italic;
}

.buttom {
  color: hsl(246, 25%, 77%);
  font-size: 9px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-bottom: 6px;
}

.buttom strong {
  color: hsl(0, 100%, 74%);
}

.box-2 .button-1 {
  background-color: hsl(248, 32%, 49%);
  padding: 15px;
  color: hsl(0, 0%, 100%);
  border-radius: 8px;
  border: 2px ridge hsl(248, 32%, 49%);
  margin: 0px 0px 8px;
  border-width: thin;
  width: 100%;
}

.button-1 strong {
  font-weight: bold;
}

.box-2 .form-group {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: hidden;
  border-radius: 6px;
}

.box-2 .my-form {
  padding: 10px;
}

.my-form input {
  color: hsl(248, 32%, 49%);
  padding: 10px;
  width: 100%;
  border-color: hsl(248, 32%, 49%);
  border-radius: 8px;
  border-width: thin;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.my-form ::placeholder {
  color: hsl(246, 25%, 77%);
  font-family: "Poppins", sans-serif;
}

/* input :focus {
  border-color: ;
} */

.my-form input:focus {
  outline: none !important;
  border: 2px solid hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
}

.my-form input :required :valid {
  border-color: black;
}

.my-form input :required :invalid {
  border-color: hsl(0, 100%, 74%);
}

.button-2 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(154, 59%, 51%);
  padding: 10px;
  border-radius: 8px;
  border: 3px ridge;
  width: 100%;
  border-width: thin;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.my-form .button-2 :hover {
  background-color: hsl(154, 66%, 68%);
}

@media (min-width: 1440px) {
  main {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 10px;
  }
}

@media (max-width: 375px) {
  main {
    flex-direction: column;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
}
